body {

    background-image: url('pictures/Monolith_1.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    font-family: 'Courier Prime', monospace;
    background-color: #333; /* Background color for the navigation */
    opacity: 0.5;
    text-align: center; /* Center-align the buttons */
    padding: 2px 0; /* Add padding for spacing */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure it's above other elements */
}

nav button {
    font-family: 'Courier Prime', monospace;
    background-color: #FFFFFF; /* Button background color */
    color: black; /* Button text color */
    border: none; /* Remove button border */
    padding: 5px 10px; /* Add padding to the buttons */
    margin: 0 10px; /* Add margin for spacing between buttons */
    cursor: pointer;
}

nav button a {
    font-family: 'Courier Prime', monospace;
    text-decoration: none; /* Remove underline from links */
    color: white; /* Text color for links */
}

header h1 {
    font-family: 'Courier Prime', monospace;
    /* Additional styles for header h1 if needed */
}

section {
    font-family: 'Courier Prime', monospace;
    /* Additional styles for the section if needed */
}

footer {
    font-family: 'Courier Prime', monospace;
    /* Additional styles for the footer if needed */
}
